.idea/
/.venv
dist
pytest_cache
src/osipi/__pycache__
tests/__pycache__
.coverage
junit
docs/build
docs/source/generated
docs/source/sg_execution_times.rst
docs-mk/site
docs-mk/docs/generated
src/osipi/DRO/data
src/osipi/DRO/__pycache__/
src/osipi/DRO/ROI_saved/
