osipi
numpy==1.23.0
scipy==1.13.1
matplotlib==3.9.0
requests==2.32.3
flake8==7.0.0
pre-commit==3.7.1
pytest==8.2.2
pytest-cov==5.0.0
autodocsumm==0.2.12
docutils==0.21.2
myst-parser==3.0.1
rstcheck[sphinx]==6.2.1
mkdocs==1.6.0
mkdocs-material[imaging]==9.5.27
mkdocs-gallery==0.10.1
mkdocstrings[crystal,python]==0.25.1
