autodocsumm
docutils
myst-parser
pydata-sphinx-theme
sphinx
sphinx-copybutton
sphinx-design
sphinx-remove-toctrees
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
#nbsphinx
sphinx-gallery
